.requerido {
    color: red;
}

li{
    float: lefT;
    width: 50%;

    list-style-type: none;

    margin: 0;
}

label{
    display: block;
    color: grey;
    font-size: 0.8em;
}

li > label{
    font-size: 1em;
    color: black;
}

li:last-child{
    width: 100%;

    border-top:1px solid black;
    padding-top: 1em;

    text-transform: right;

}

li:last-child input{
    float: right;
}

input{
    display: block;
}

li:nth-child(2) > div > span:nth-child(2), li:nth-child(2) > div > span:nth-child(3), li:nth-child(2) > div > span:nth-child(4), li:nth-child(2) > div > span:nth-child(5){
    display: inline-block;
}
